<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>
        Web Component: “A inert template content example”
    </title>
</head>
<body>
<div id="message"></div>
<template id="aTempate">
    <img id="profileImage" src="http://www.gravatar.com/avatar/c6e6c57a2173fcbf2afdd5fe6786e92f.png">
    <script>
        alert("This is a script");
    </script>
</template>
<script>
    (function() {
        var imageElemnt = document.getElementById("profileImage");
        var messageElement = document.getElementById("message");
        messageElement.innerHTML = "IMG element " + imageElemnt;
    })();
</script>
</body>
</html>
